<h4 class="text-center">Task details</h4>
<div class="row display-75">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h4>{{model.title}}</h4>
        <div>
            Status is 
            {{#if model.isComplete}}
                Completed. <a {{action 'changeCompleteStatus'}}>Mark as In progess</a> 
            {{else}}
                In progress. <a {{action 'changeCompleteStatus'}}>Mark as Complete</a>
            {{/if}}
            
        </div>
        <form class="display-75">
            <div class="col-md-12">
                <div class="input-group">
                    {{input value=newTimeLog class='form-control' disabled=model.isComplete placeholder='Hours in decimal. E.g: 7.7'}}
                    <span class="input-group-btn">
                        <button class='btn btn-primary' {{action 'addTimeLog'}} disabled={{canDisable}}>Add Time</button>
                    </span>
                </div>
                {{#if showDecimalError}}
                    <div class="error-message">Enter a valid positive number number for hours. E.g: 4.3</div>
                {{/if}}
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row display-75">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        {{#if noTimeEntries}}
            <div class="text-center">Log Time</div>
        {{else}}
            {{time-table model=model.timeSpent}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
