<div class="row display-75">
    <form class="display-75">
        <div class="col-md-12">
            <div class="input-group">
                {{input value=newTaskTitle class='form-control' placeholder='Task Name' maxlength=50}}
                <span class="input-group-btn">
                    <button class='btn btn-primary' {{action 'createTask'}} disabled={{canDisable}}>Create Task</button>
                </span>
            </div>
        </div>
    </form>
</div>

<div class="row display-75">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        {{tasks-table model=model}}
      </div>
    </div>
  </div>
</div>

<!--
<div class="row display-75">
  <div class="col-md-12">
    <ul class="list-group">
        {{#each model as |item|}}
            {{task-item item=item action="goToTask"}}
        {{/each}}
    </ul>
  </div>
</div>
-->
